.App {
  text-align: center;
}
.Header {
  color: #fdfdfd;
  text-shadow: 1px 1px 5px #d6cd4b;
}

h1, h2, h3, div {
  font-family: Star-Wars;
  color:#f5ea56;
}

p, span {
  font-family: Anakin;
  color:#3d8eba;
}




/* write your parent styles in here for your App.js */
